#slide1-wrapper{
    margin: 0 auto;
    width: 1010px;
}

header{
    margin-top: 50px;
    margin-bottom: 70px;
}

#logo {
    float: left;
}

nav{
    margin-left: auto;
    max-width: 620px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul li {
    float: left;
    font-weight: bold;
    font-size: 0.875em;
    color: #333333;
}

nav ul li:hover {
    float: left;
    font-weight: bold;
    font-size: 0.875em;
    color: white;
}

#slide1-text {
    color: white;
    font-weight: 300;
    line-height: 1.875em;
    max-width: 390px;
    margin-top: 35px;
    margin-bottom: 30px;
}

#slide1-CTA-button {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #464646;
    border: none;
    border-radius: 2px;
    height: 50px;
    padding: 15px 20px;
}

#slide1-CTA-button-icon{
    padding-left: 12px;
}

#slide1-CTA-button:hover {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #606060;
    border: none;
    border-radius: 2px;
    height: 50px;
    padding: 15px 20px;
}

#slide1-mac_iphone{
    float: right;
    padding-top: 65px;
}

#slide1-content{
    display: inline-block;
}
